<p>order-items works!</p>

<button routerLink = "/"
mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="AddHotDog()">Add Item</button>

<p>ID</p>
<input type ="text" name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="formData.HotDogID">
<br>

<p>Name</p>
<input type ="text" name="HotDogName" #HotDogName = "ngModel" [(ngModel)]="formData.Name">
<br>

<p>Price</p>
<input type ="text" name="HotDogPrice" #HotDogPrice = "ngModel" [(ngModel)]="formData.Price">

<button (click)="SaveHotDog()">Update Hot Dog</button>
<button (click)="HomePage()">HomePage</button>
<table class="table table-striped table-responsive-md btn-table">
  <tr>
    <th>Hot Dog ID</th>
    <th>Hot Dog Name</th>
    <th>Hot Dog Price</th>
  </tr>
  <tr *ngFor="let HotDog of HotDogList">
   <td>{{HotDog.HotDogID}}</td>
    <td>{{HotDog.Name}}</td>  
    <td>R{{HotDog.Price}}</td>
    <td>
        <button mdbBtn color="indigo" (click) = "EditHotDog(HotDog)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
      </td>
      <td>
        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteHotDog(HotDog.HotDogID)">Delete</button>
      </td>
    </tr>
</table>



