<p>actual-order-item works!</p>

<p>Order Item ID</p>
<input type ="text" name="OrderItemID" #OrderID = "ngModel" [(ngModel)]="formData.OrderItemID">
<br>

<p>Hot Dog ID</p>
<input type ="text" name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="formData.HotDogID">
<br>

<p>Quantity</p>
<input type ="text" name="Quantity" #Quantity = "ngModel" [(ngModel)]="formData.Quantity">


<button (click)="SaveOrderItem()">Update User</button>
<button (click)="HomePage()">HomePage</button>
<br>
<br>

<button routerLink = "/"
 mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="AddOrderItem()">Add Item</button>

<table class="table table-striped table-responsive-md btn-table">
  <tr>
    <th>Order ID</th>
    <th>Hot Dog ID</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let OrderItem of OrderItemList">
   <td>{{OrderItem.OrderID}}</td>
    <td>{{OrderItem.HotDogID}}</td>  
    <td>{{OrderItem.Quantity}}</td>
    <td>
        <button mdbBtn color="indigo" size="sm" (click)="EditOrderItem(OrderItem)" mdbWavesEffect type="button" class="m-0">Update</button>
      </td>
      <td>
        <button mdbBtn color="indigo" size="sm" (click)="DeleteOrderItem(OrderItem.OrderItemID)" mdbWavesEffect type="button" class="m-0">Delete</button>
      </td>
    </tr>

</table>