<p>create-order-item works!</p>


    <form>

    <p>OrderID</p>
    <input type ="text" name="OrderID" #OrderID = "ngModel" [(ngModel)]="OrderItemService.formData2.OrderID">
    <br>

    <p>HotDogID</p>
    <input type ="text" name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="OrderItemService.formData2.HotDogID">
    <br>

    <p>Quantity</p>
    <input type ="text" name="Quantity" #Quantity = "ngModel" [(ngModel)]="OrderItemService.formData2.Quantity">
    <br>
<br>

</form>

<button (click)="SaveOrderItem()">Add Order Item</button>
<button (click) = "GoBackToList()">Go back to the list</button>