<p>It works</p>
<form (ngSubmit)="onFormSubmit(HotDogForm)">

    <p>Name</p>
    <input type ="text" name="HotDogName" #HotDogName = "ngModel" [(ngModel)]="hotdogservice.formData.Name">
    <br>

    <p>Price</p>
    <input type ="text" name="HotDogPrice" #HotDogPrice = "ngModel" [(ngModel)]="hotdogservice.formData.Price">
    <br>
<br>

</form>

<button (click)="SaveHotDog()">Add Hot Dog</button>
<button (click) = "GoBackToList()">Go back to the list</button>