<p>login does not work, please press login to proceed</p>

<p>Email</p>
<input type ="text" >
<br>

<p>Password</p>
<input type ="text" >
<br>

<button (click)="Login()">Login</button>

<button (click)="Register()">Register</button>
