<p>user works!</p>




<p>ID</p>
<input type ="text" name="UserID" #HotDogID = "ngModel" [(ngModel)]="formData.UserID">
<br>

<p>Name</p>
<input type ="text" name="UserName" #HotDogName = "ngModel" [(ngModel)]="formData.Name">
<br>

<p>Surname</p>
<input type ="text" name="UserSurname" #HotDogPrice = "ngModel" [(ngModel)]="formData.Surname">


<p>Email</p>
<input type ="text" name="UserEmail" #HotDogPrice = "ngModel" [(ngModel)]="formData.Email">


<p>Password</p>
<input type ="text" name="UserPassword" #HotDogPrice = "ngModel" [(ngModel)]="formData.Password">


<button (click)="SaveUser()">Update User</button>
<button (click)="HomePage()">HomePage</button>
<br>
<br>

<button routerLink = "/"
 mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="AddUser()">Add User</button>


<table class="table table-striped table-responsive-md btn-table">
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let User of UserList">
   <td>{{User.UserID}}</td>
    <td>{{User.Name}}</td>  
    <td>{{User.Surname}}</td>
    <td>{{User.Email}}</td>
    <td>{{User.Password}}</td>
    <td>
        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" (click) = "EditUser(User)" class="m-0">Update</button>
      </td>
      <td>
        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteUser(User.UserID)">Delete</button>
      </td>
    </tr>

</table>