<p>add-user works!</p>


<form (ngSubmit)="onFormSubmit(UserForm)">

    <p>Name</p>
    <input type ="text" name="UserName" #HotDogName = "ngModel" [(ngModel)]="UserService.formData5.Name">
    <br>

    <p>Surname</p>
    <input type ="text" name="UserSurname" #HotDogPrice = "ngModel" [(ngModel)]="UserService.formData5.Surname">
    <br>

    <p>Email</p>
    <input type ="text" name="UserEmail" #HotDogPrice = "ngModel" [(ngModel)]="UserService.formData5.Email">
    <br>

    <p>Password</p>
    <input type ="text" name="UserPassword" #HotDogPrice = "ngModel" [(ngModel)]="UserService.formData5.Password">
    <br>
<br>

</form>

<button (click)="SaveUser()">Add User</button>
<button (click) = "GoBackToList()">Go back to the list</button>