<div class="jumbotron jumbotron-fluid">
  <h3 class = "display-4 text-center">Hot dog kiosk</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>