<p>order works!</p>

<p>Order Number</p>
<input type ="text" name="OrderNo" #OrderNo = "ngModel" [(ngModel)]="formData.OrderNo">
<br>

<p>CustomerID</p>
<input type ="text" name="CustomerID" #Name = "ngModel" [(ngModel)]="formData.CustomerID">
<br>

<p>Payment Method</p>
<input type ="text" name="PayMethod" #PayMethod = "ngModel" [(ngModel)]="formData.PayMethod">


<button (click)="SaveOrder()">Update User</button>
<button (click)="HomePage()">HomePage</button>
<br>
<br>


<button routerLink = "/"
 mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) ="AddOrder()" >Add Order</button>

<table  class="table table-striped table-responsive-md btn-table">
<tr>
        <th>Order Number</th>
        <th>Customer ID</th>
        <th>Payment Method</th>
    </tr>
<tr *ngFor="let Order of OrderList">
    <td>{{Order.OrderNo}}</td>
    <td>{{Order.CustomerID}}</td>  
    <td>{{Order.PayMethod}}</td>
    <td>
        <button mdbBtn color="indigo" size="sm" (click) = "EditOrder(Order)" mdbWavesEffect type="button" class="m-0">Update</button>
      </td>
      <td>
        <button mdbBtn color="indigo" (click)="DeleteOrder(Order.OrderID)" size="sm" mdbWavesEffect type="button" class="m-0">Delete</button>
      </td>
</tr>
    
       
 
 </table>