<p>customer works!</p>


<p>ID</p>
<input type ="text" name="UserID" #CustomerID = "ngModel" [(ngModel)]="formData.CustomerID">
<br>

<p>Name</p>
<input type ="text" name="UserName" #CustomerName = "ngModel" [(ngModel)]="formData.Name">
<br>

<p>Surname</p>
<input type ="text" name="UserSurname" #CustomerSurname = "ngModel" [(ngModel)]="formData.Surname">


<button (click)="SaveCustomer()">Update User</button>
<button (click)="HomePage()">HomePage</button>
<br>
<br>

<button routerLink = "/"
 mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="AddCustomer()">Add Customer</button>

<table  class="table table-striped table-responsive-md btn-table">

  <tr>
    <th>Customer ID</th>
    <th>Customer Name</th>
    <th>Payment Surname</th>
</tr>
  <tr *ngFor="let Customer of CustomerList">
    <td>{{Customer.CustomerID}}</td>
     <td>{{Customer.Name}}</td>  
     <td>{{Customer.Surname}}</td>
     <td>
         <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" (click) = "EditCustomer(Customer)" class="m-0">Update</button>
       </td>
       <td>
         <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="DeleteCustomer(Customer.CustomerID)">Delete</button>
       </td>
      </tr>
 
 </table>