<p>add-order works!</p>


<form (ngSubmit)="onFormSubmit(OrderForm)">

    <p>Order Number</p>
    <input type ="text" name="OrderNo" #OrderNo = "ngModel" [(ngModel)]="OrderService.formData3.OrderNo">
    <br>

    <p>Customer ID</p>
    <input type ="text" name="CustomerID" #CustomerID = "ngModel" [(ngModel)]="OrderService.formData3.CustomerID">
    <br>

    <p>Payment Method</p>
    <input type ="text" name="PayMethod" #PayMethod = "ngModel" [(ngModel)]="OrderService.formData3.PayMethod">
    <br>

   
<br>

</form>

<button (click)="SaveOrder()">Add User</button>
<button (click) = "GoBackToList()">Go back to the list</button>