<p>add-customer works!</p>

<form (ngSubmit)="onFormSubmit(CustomerForm)">

    <p>Name</p>
    <input type ="text" name="CustomerName" #HotDogName = "ngModel" [(ngModel)]="CustomerService.formData.Name">
    <br>

    <p>Surname</p>
    <input type ="text" name="CustomerSurname" #HotDogPrice = "ngModel" [(ngModel)]="CustomerService.formData.Surname">
    <br>
<br>

</form>

<button (click)="SaveCustomer()">Add Hot Dog</button>
<button (click) = "GoBackToList()">Go back to the list</button>