<p>Below are the 5 tables that I CRUD</p>

<button (click) = "OrderItems()">Go to Order Items</button>
<br>
<button (click) = "HotDogs()">Go to Hot Dogs</button>
<br>
<button (click) = "Users()">Go to Users</button>
<br>
<button (click) = "Customers()">Go to Customers</button>
<br>
<button (click) = "Orders()">Go to Orders</button>